@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.ql-editor {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.55 !important;
  padding-bottom: 5rem !important;
  min-height: 10rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
